go 1.26

use (
	.
	./etscore
	./shim/api
	./shim/ast
	./shim/astnav
	./shim/bundled
	./shim/checker
	./shim/collections
	./shim/compiler
	./shim/contentmapper
	./shim/core
	./shim/diagnostics
	./shim/evaluator
	./shim/execute/tsc
	./shim/format
	./shim/fourslash
	./shim/jsnum
	./shim/jsonrpc
	./shim/locale
	./shim/ls
	./shim/ls/autoimport
	./shim/ls/change
	./shim/ls/lsconv
	./shim/ls/lsutil
	./shim/lsp
	./shim/lsp/lsproto
	./shim/module
	./shim/modulespecifiers
	./shim/nodebuilder
	./shim/packagejson
	./shim/parser
	./shim/printer
	./shim/project
	./shim/project/dirty
	./shim/project/logging
	./shim/repo
	./shim/scanner
	./shim/sourcemap
	./shim/spanmap
	./shim/testrunner
	./shim/testutil
	./shim/testutil/baseline
	./shim/testutil/harnessutil
	./shim/testutil/lsptestutil
	./shim/testutil/tsbaseline
	./shim/tracing
	./shim/tsoptions
	./shim/tspath
	./shim/vfs
	./shim/vfs/cachedvfs
	./shim/vfs/iovfs
	./shim/vfs/osvfs
	./shim/vfs/vfstest
	./typescript/tsc
)

replace github.com/microsoft/typescript-go v0.0.0 => ./typescript-go

replace github.com/microsoft/TypeScript/tsc v0.0.0 => ./typescript/tsc

replace github.com/microsoft/TypeScript/tsc/shim/api v0.0.0 => ./shim/api

replace github.com/microsoft/TypeScript/tsc/shim/ast v0.0.0 => ./shim/ast

replace github.com/microsoft/TypeScript/tsc/shim/astnav v0.0.0 => ./shim/astnav

replace github.com/microsoft/TypeScript/tsc/shim/bundled v0.0.0 => ./shim/bundled

replace github.com/microsoft/TypeScript/tsc/shim/checker v0.0.0 => ./shim/checker

replace github.com/microsoft/TypeScript/tsc/shim/collections v0.0.0 => ./shim/collections

replace github.com/microsoft/TypeScript/tsc/shim/compiler v0.0.0 => ./shim/compiler

replace github.com/microsoft/TypeScript/tsc/shim/contentmapper v0.0.0 => ./shim/contentmapper

replace github.com/microsoft/TypeScript/tsc/shim/core v0.0.0 => ./shim/core

replace github.com/microsoft/TypeScript/tsc/shim/diagnostics v0.0.0 => ./shim/diagnostics

replace github.com/microsoft/TypeScript/tsc/shim/evaluator v0.0.0 => ./shim/evaluator

replace github.com/microsoft/TypeScript/tsc/shim/execute/tsc v0.0.0 => ./shim/execute/tsc

replace github.com/microsoft/TypeScript/tsc/shim/format v0.0.0 => ./shim/format

replace github.com/microsoft/TypeScript/tsc/shim/fourslash v0.0.0 => ./shim/fourslash

replace github.com/microsoft/TypeScript/tsc/shim/jsnum v0.0.0 => ./shim/jsnum

replace github.com/microsoft/TypeScript/tsc/shim/jsonrpc v0.0.0 => ./shim/jsonrpc

replace github.com/microsoft/TypeScript/tsc/shim/locale v0.0.0 => ./shim/locale

replace github.com/microsoft/TypeScript/tsc/shim/ls v0.0.0 => ./shim/ls

replace github.com/microsoft/TypeScript/tsc/shim/ls/autoimport v0.0.0 => ./shim/ls/autoimport

replace github.com/microsoft/TypeScript/tsc/shim/ls/change v0.0.0 => ./shim/ls/change

replace github.com/microsoft/TypeScript/tsc/shim/ls/lsconv v0.0.0 => ./shim/ls/lsconv

replace github.com/microsoft/TypeScript/tsc/shim/ls/lsutil v0.0.0 => ./shim/ls/lsutil

replace github.com/microsoft/TypeScript/tsc/shim/lsp v0.0.0 => ./shim/lsp

replace github.com/microsoft/TypeScript/tsc/shim/lsp/lsproto v0.0.0 => ./shim/lsp/lsproto

replace github.com/microsoft/TypeScript/tsc/shim/module v0.0.0 => ./shim/module

replace github.com/microsoft/TypeScript/tsc/shim/modulespecifiers v0.0.0 => ./shim/modulespecifiers

replace github.com/microsoft/TypeScript/tsc/shim/nodebuilder v0.0.0 => ./shim/nodebuilder

replace github.com/microsoft/TypeScript/tsc/shim/packagejson v0.0.0 => ./shim/packagejson

replace github.com/microsoft/TypeScript/tsc/shim/parser v0.0.0 => ./shim/parser

replace github.com/microsoft/TypeScript/tsc/shim/printer v0.0.0 => ./shim/printer

replace github.com/microsoft/TypeScript/tsc/shim/project v0.0.0 => ./shim/project

replace github.com/microsoft/TypeScript/tsc/shim/project/dirty v0.0.0 => ./shim/project/dirty

replace github.com/microsoft/TypeScript/tsc/shim/project/logging v0.0.0 => ./shim/project/logging

replace github.com/microsoft/TypeScript/tsc/shim/repo v0.0.0 => ./shim/repo

replace github.com/microsoft/TypeScript/tsc/shim/scanner v0.0.0 => ./shim/scanner

replace github.com/microsoft/TypeScript/tsc/shim/sourcemap v0.0.0 => ./shim/sourcemap

replace github.com/microsoft/TypeScript/tsc/shim/spanmap v0.0.0 => ./shim/spanmap

replace github.com/microsoft/TypeScript/tsc/shim/testrunner v0.0.0 => ./shim/testrunner

replace github.com/microsoft/TypeScript/tsc/shim/testutil v0.0.0 => ./shim/testutil

replace github.com/microsoft/TypeScript/tsc/shim/testutil/baseline v0.0.0 => ./shim/testutil/baseline

replace github.com/microsoft/TypeScript/tsc/shim/testutil/harnessutil v0.0.0 => ./shim/testutil/harnessutil

replace github.com/microsoft/TypeScript/tsc/shim/testutil/lsptestutil v0.0.0 => ./shim/testutil/lsptestutil

replace github.com/microsoft/TypeScript/tsc/shim/testutil/tsbaseline v0.0.0 => ./shim/testutil/tsbaseline

replace github.com/microsoft/TypeScript/tsc/shim/tracing v0.0.0 => ./shim/tracing

replace github.com/microsoft/TypeScript/tsc/shim/tsoptions v0.0.0 => ./shim/tsoptions

replace github.com/microsoft/TypeScript/tsc/shim/tspath v0.0.0 => ./shim/tspath

replace github.com/microsoft/TypeScript/tsc/shim/vfs v0.0.0 => ./shim/vfs

replace github.com/microsoft/TypeScript/tsc/shim/vfs/cachedvfs v0.0.0 => ./shim/vfs/cachedvfs

replace github.com/microsoft/TypeScript/tsc/shim/vfs/iovfs v0.0.0 => ./shim/vfs/iovfs

replace github.com/microsoft/TypeScript/tsc/shim/vfs/osvfs v0.0.0 => ./shim/vfs/osvfs

replace github.com/microsoft/TypeScript/tsc/shim/vfs/vfstest v0.0.0 => ./shim/vfs/vfstest
